<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.akshayuprabhu.myfirstapp1">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/google"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".Splash" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
<!-- LAUNCHER refers to the starting point of the app-->
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.example.akshayuprabhu.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Menu"  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.example.akshayuprabhu.MENU" />
<!-- both of these(last name of action and category) must be in CAPS -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>